@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;

    font-family: "Ancizar Serif", serif;
}
body{
    background-color: rgb(89, 0, 255);
}
h1{
  text-align: left;
}
p {
    text-align: right;
    max-width: 500px;
    margin: 0 auto;
}